{% extends 'base.html.twig' %}

{% block title %}
NOPE!!
{% endblock %}

{% block body %}
<h2> THIS IS WAR!!!!111 </h2>
<p> Lorem Ipsum </p>
<button id ="btn"> click </button>




<script> 

const btnnn = document.getElementById("btn");
btnnn.addEventListener('click', ()=> {
    console.log("Herrooo")
    window.location = ("/")
})
</script>


{% endblock %}